<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %} -->
    <h1>Create The Incident</h1>
    <h2>Enter the Details</h2>
    <form method="POST" action="/create">
        ID:
        <input type="text" name="id" required><br><br>
        Service:
        <input type="text" name="service" required><br><br>
        Severity
        <label for="">Severity</label>
        <select name="severity" id="severity">
            <option value="SEV1">SEV1</option>
            <option value="SEV2">SEV2</option>
            <option value="SEV3">SEV3</option>
            </select>
            <br><br>
        <label for="">Status</label>
        <select name="status" id="status">
            <option value="Open">Open</option>
            <option value="Investigating">Investigating</option>
            <option value="Mitigated">Mitigated</option>
            <option value="Resolved">Resolved</option>
            </select>
            <br><br>
        Description
        <input type="text" name="username" required><br><br>
        Created At
        <input type="text" name="username" required><br><br>
        
        <button type="submit">Create</button>
</form>
</body>
</html>
