{% extends "base.html" %}
{% block title %}Home - Incident Management{% endblock %}
{% block content %}
<h1>Incident Management level 4 CI/CD deployment</h1>
<form method="POST" action="/">
    <label for="operation">Choose an operation:</label>
    <select name="operation" id="operation">
        <option value="create">Create Incident</option>
        <option value="view">View Incidents</option>
        <option value="update">Update Incident</option>
        <option value="delete">Delete Incident</option>
    </select>
    <button type="submit" class="btn">Go</button>
</form>
{% endblock %}
